<div class="row">
  <div class="col-4" *ngFor="let blog of blogData">

    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
        <div class="card">
            <img *ngIf="blog.image" [src]="blog.image" alt="Avatar" width="100%" height="70px">
            <div class="card-body">
              <h4 *ngIf="blog.author"><b>{{blog.author}}</b></h4>
              <p class="description" (click)="blogView(blog)">{{blog.description}}</p>
            </div>
          </div>
      </div>
    </div>

